{% block body -%}
    <button type="button" style="position: absolute;left: 85%;top: 11%;" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg1">Ajouter CMD</button>


    <div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg1">
            <div class="modal-content">

                <!-- header modal -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <!-- body modal -->
                <div class="modal-body">
                    <center><h1>Creation CMD</h1></center>
                    {{ form_start(form) }}
                    <p>
                        <center>
                        <div>
                            <label>Date</label>
                            {{ form_widget(form.pFCMDPHDate, {'attr': {'class': ''}}) }}
                        </div>
                        </center>
                        <div>
                            <label>Client</label>
                            {{ form_widget(form.client, {'attr': {'class': 'form-control pointer required'}}) }}
                        </div>
                        <div>
                            <label>Delegue</label>
                            {{ form_widget(form.delgues, {'attr': {'class': 'form-control pointer required'}}) }}
                        </div>


                    {% macro prototype(detail) %}
                    <tr>
                        <td>
                            {{ form_widget(Detail.grpProduit) }}
                        </td>
                        <td>
                            {{ form_widget(Detail.specialitesD) }}
                        </td>
                        <td>
                            <ul>
                                <li><a href="#">Add</a></li>
                                <li><a href="#">Remove</a></li>
                            </ul>
                        </td>
                    </tr>
                    {% endmacro %}




                    <table>
                        <thead>
                        <tr>
                            <th>Pizza</th>
                            <th>Count</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                        <center>
                            <p>
                        <div>
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                            </p>
                        </center>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}

                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

    <script>
        var add = function() {

            var index = $('table tbody tr').length + Math.floor((Math.random() * 100) + 1);
            var row = $('script[type="text/html"]').text().replace(/__name__/g, index%2==0?index++:index--);
            $('#NvRow').append(row);
        };

        $('table tbody a').live('click', function(event) {
            if ($(this).text() === "Add") {
                add();
            }

            if ($(this).text() === "Remove") {
                $(this).closest('tr').remove();
            }
            event.preventDefault();
        });

        if ($('table tbody tr').length === 0) {
            add();
        }
    </script>
{% endblock %}


